<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
    	<ion-toggle [(ngModel)]="enabled" (ionChange)="onToggleEnabled()"></ion-toggle><span>&nbsp;Enabled</span>
    </ion-buttons>
    <ion-title>
      Webview Test
    </ion-title>
    <ion-buttons slot="end">
    	<span>Debug&nbsp;</span><ion-toggle [(ngModel)]="debug" (ionChange)="onToggleDebug()"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    BackgroundGeolocation / ionic-webview Whitescreen Test.
    <pre>
    	<code>{{location}}</code>
    </pre>
  </div>
</ion-content>
